.wrapper {
  @include outer-container;
}

header {
  color: white;
  background-color: $base-color-1;
  height: 60px;
  h1 {
    font-size: 30px;
    float: left;
  }
}

.button-wrapper {
  float: right;
  .button {
    margin-left: 10px;
  }
}
