$base-color-1: #006192;
$base-color-2: #377FA3;
$base-color-3: #78A0B5;
$base-color-4: #9EB3BD;
$base-color-5: #C6C6C6;

$accent-color-1: #9F1D2F;
$accent-color-2: #AC4F5B;
$accent-color-3: #B9878E;
$accent-color-4: #C0A5A9;
$accent-color-5: #C6C6C6;
